doctype html
html
  head
    meta(charset="utf-8")
    title Dreamforce 2014
    meta(name="viewport", content="initial-scale=1,maximum-scale=1,user-scalable=no")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body
    #loginContainer
      h1 Build Native OEM Apps with<br /> Salesforce1’s Heroku and force.com
      a(href=authUri, id='loginBtn') Login with Salesforce
